<div class="flex flex-col justify-between bg-slate-300 shadow-md rounded-xl w-96 h-80 overflow-hidden">
    <span style="font-family: 'VALORANT', sans-serif" class="text-red-500 font-bold text-lg p-3">{{weapon.displayName}}</span>
    <div class="bg-slate-300 w-full h-1/2 flex content-center justify-center py-5 px-2">
        <img src="{{weapon.displayIcon}}" alt="" class="object-contain h-full">
    </div>
    <app-primary-button label="Skins" class="w-full" [routerLink]="['weapon', weapon.weaponId]" routerLinkActive="active-link"></app-primary-button>
</div>

