<div class="card card-compact bg-base-100 w-96 shadow-xl h-80 overflow-hidden bg-neutral">
    <div class="w-full h-1/2 flex content-center justify-center py-5 px-2 bg-base-content">
      <img
        class="object-contain h-full"
        src="{{skin.displayIcon}}"
        />
    </div>
    <div class="card-body">
      <h2 class="card-title">{{skin.displayName}}</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <app-primary-button label="Add to Card" class="btn btn-error w-full" (btnClicked)="this.carService.addItem(skin)"></app-primary-button>
      </div>
    </div>
  </div>