<div class="w-full">
        @for (item of cartService.cart(); track item.skinId) {
        <div class="card card-side bg-base-100 shadow-xl bg-neutral mb-4 overflow-hidden">
            <div class="w-48 bg-base-content flex justify-center">
                <img
                src="{{item.displayIcon}}"
                alt="Movie" 
                class="h-full object-contain"
                />
            </div>
            <div class="card-body">
                <h2 class="card-title">{{item.displayName}}</h2>
                <p>Click the button to watch on Jetflix app.</p>
                <div class="card-actions justify-end">
                    <app-primary-button class="btn btn-error" label="Remove" (btnClicked)="cartService.removeItem(item)"></app-primary-button>
                </div>
            </div>
        </div>
        }
</div>
